name: lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  commitlint:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          check-latest: true
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Check eslint
        run: pnpm lint
      - name: Check Prettier
        run: pnpm check:prettier
      - name: Check type
        run: pnpm check:types
